/wiki/backups/*
*~
*.tar.*
.[^.]*
*.o
*.os
*.gch
,valgrind.log*
*.pyc
optcache
Makefile.in
build/*
target/*
autom4te.cache/*
scripts/*
configure
config.log
aclocal.m4
autom4te.cache
semantic.cache
wiki/backups/*
doc/devel/draw/*.png
doc/devel/uml/fig128309.png
m4/*
