/wiki/backups/*
*~
*.tar.*
.[^.]*
*.o
*.os
*.gch
,valgrind.log*
*.pyc
optcache
Makefile.in
build/*
bin/*
autom4te.cache/*
scripts/*
configure
config.log
aclocal.m4
autom4te.cache
semantic.cache
wiki/backups/*
doc/devel/draw/*.png
doc/*.html
doc/devel/rfc_pending/*.html
doc/devel/rfc/*.html
doc/user/*.html
doc/user/lumiera_from_outer_space/*.html
m4/*
