Source: lumiera
Section: unknown
Priority: extra
Maintainer: Ichthyostega <deb@ichthyostega.de>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: lumiera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
