Source: lumiera
Section: video
Priority: extra
Maintainer: Hermann Vosseler <deb@ichthyostega.de>
Build-Depends: debhelper (>= 7),
               cdbs (>= 0.4.73),
               scons (>= 2),
               pkg-config,
               asciidoc,
               libboost-dev (>= 1.55)                | libboost1.55-dev,
               libboost-program-options-dev (>= 1.55)| libboost-program-options1.55-dev,
               libboost-filesystem-dev (>= 1.55)     | libboost-filesystem1.55-dev,
               libboost-regex-dev (>= 1.55)          | libboost-regex1.55-dev,
               nobug-dev (>= 201008.1),
               libgavl-dev (>= 1.4),
               libasound2-dev,
               libgtkmm-3.0-dev (>= 3.10),
               libglibmm-2.4-dev (>= 2.39),
               libglib2.0-dev (>= 2.40),
               libgdl-3-dev (>= 3.12),
               libgdlmm-3-dev (>= 3.7.3~),
               libcairomm-1.0-dev (>= 1.10),
               librsvg2-dev (>=2.40),
               libxv-dev (>= 2:1.0),
               libxext-dev,
               libx11-dev
Standards-Version: 3.9.6
Vcs-Git: git://git.lumiera.org/debian/lumiera -b deb
Vcs-Browser: http://git.lumiera.org/gitweb?p=debian/lumiera;a=shortlog;h=refs/heads/deb
Homepage: http://Lumiera.org

Package: lumiera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: nonlinear video editing and compositing tool. 
 This is a development preview snapshot not suitable for users.
 .
 The Application will allow to edit footage in the common
 multimedia formats (quicktime, ogg, mkv, avi) and audio/video
 stream codecs (dv, mpeg1/2/4, h264 ...)
 .
 Lumiera features non-destructive editing, compositing tools,
 a selection of effects plugins, processing in RGB, YUV and
 RGB-float colour models and the ability to mix media with
 differing sizes and framerates. Lumiera is especially well
 suited for large and elaborate professional editing tasks
 with lots of material, several scenes, nested sequences,
 colour grading, 3D support, full fledged sound montage
 and multiple edit versions prepared in parallel.
 .
 NOTE: as of 11/2015, Lumiera is in early development stage;
 it is not usable yet. The above describes the Lumiera project
 vision, which will need years to implement. This Debian package
 installs a current development snapshot in pre-alpha stage.
 .
 Visit http://Lumiera.org and join the mailing list
 when interested in Lumiera planning and development. 

