#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/scons.mk
 
# Workaround on Mint/Rafaela:
# use a custom installed gcc-4.9 with libstdc++4.9 for building (we need full C++14 support)
CC = gcc-4.9
CXX = g++-4.9


# Core build options for Lumiera
#
DEB_SCONS_OPTIONS = \
    BUILDLEVEL=ALPHA \
    DEBUG=True       \
    OPTIMIZE=False   \
    VALGRIND=False   \
    PREFIX=usr       \
    ARCHFLAGS=" -fstack-protector-strong"
    
DEB_SCONS_INSTALL_OPTIONS = \
    INSTALLDIR=debian/lumiera

DEB_SCONS_BUILD_TARGET = build
DEB_SCONS_CHECK_TARGET = check


clean::
	rm -rf target/.sconf_temp
	rm -f admin/scons/*.pyc
	rm -f optcache


# use all available CPU cores
DEB_BUILD_PARALLEL = true
DEB_PARALLEL_JOBS = $(shell getconf _NPROCESSORS_ONLN )

