#!/usr/bin/make -f

# Note: Lumiera runs as bundle from a common package tree and locates
#       its modules, plugins and config relative to the main executable
#       and in addition also through search paths defined in lumiera.ini
#       The *SCons* based build system is FSH aware and installs
#       into the appropriate directories below PREFIX,
#       bin/lumiera -> ../lib/lumiera/lumiera
#
BUILD_OPTIONS = \
	BUILDLEVEL=ALPHA \
	DEBUG=True       \
	OPTIMIZE=False   \
	VALGRIND=False
    
PACKAGING = \
	PREFIX=usr \
	INSTALLDIR=debian/lumiera

HARDENING = \
	ARCHFLAGS=" -fstack-protector-strong"

# use available CPU cores
CONCURRENCY = $(shell getconf _NPROCESSORS_ONLN )

DEB_SCONS_OPTIONS = \
	$(BUILD_OPTIONS) \
	$(PACKAGING)     \
	$(HARDENING)     \
	-j$(CONCURRENCY)



%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	scons -c
	rm -rf target/.sconf_temp
	rm -f admin/scons/*.pyc
	rm -f optcache

override_dh_auto_build:
	scons $(DEB_SCONS_OPTIONS) build

override_dh_auto_test:
	scons $(DEB_SCONS_OPTIONS) check

override_dh_auto_install:
	scons $(DEB_SCONS_OPTIONS) install

