#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/scons.mk

# Core options for Lumiera
DEB_SCONS_OPTIONS = \
    BUILDLEVEL=ALPHA \
    DEBUG=True       \
    OPTIMIZE=False   \
    VALGRIND=False   \
    PREFIX=usr       
    
DEB_SCONS_INSTALL_OPTIONS = \
    INSTALLDIR=debian/lumiera

DEB_SCONS_BUILD_TARGET = build
DEB_SCONS_CHECK_TARGET = check TESTSUITES=4
################################ NOTE: only running the Proc-Layer tests for now
#                              #       backend has some breakages

# Compilation flags already handled internally
# by SCons build; no need to pass them explicitly
CFLAGS=
CXXFLAGS=
